#my-navbar {
	background-color: #305F6E;
}
#my-name {
	color: #FFFFFF;
		vertical-align: center;
}
#my-navbar-text{
	color: #FFFFFF;
		vertical-align: center;
}
#my-navbar-links {
	text-align: right;
	vertical-align: center;
}