#my-navbar {
	background-color: #305F6E;
}
#my-name {
	color: #CDEFE6;
	vertical-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
#my-navbar-text{
	color: #CDEFE6;
	vertical-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
#my-navbar-links {
	text-align: right;
	vertical-align: center;
}

/*Project Titles*/
#storyjs-timeline > div > div.vco-feature > div > div.slider-container-mask > div > div > div > div > div > div.text > div > h3 {
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 800;	
	margin-top: 3px !important;
	margin-bottom: 20px !important;
}

/*Project dates*/
#storyjs-timeline > div > div.vco-feature > div > div.slider-container-mask > div > div > div > div > div > div.text > div > h2 {
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 400 !important;
}

/*About Me title*/
#storyjs-timeline > div > div.vco-feature > div > div.slider-container-mask > div > div > div:nth-child(1) > div > div > div > div > h2 {
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 800 !important;
}

/*About Me and Projects description*/
#storyjs-timeline > div > div.vco-feature > div > div.slider-container-mask > div > div > div > div > div > div.text > div > p {
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 500 !important;
}

/*Right scroll dates*/
#storyjs-timeline > div > div.vco-feature > div > div.nav-next > div > div.date
{
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 400 !important;
	font-size: 9px !important;
}

/*Right scroll Title*/
#storyjs-timeline > div > div.vco-feature > div > div.nav-next > div > div.title {
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 400 !important;
	font-size: 13px !important;
}

/*Left scroll date*/
#storyjs-timeline > div > div.vco-feature > div > div.nav-previous > div > div.date {
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 400 !important;
	font-size: 9px !important;
}

/*Left scroll title*/
#storyjs-timeline > div > div.vco-feature > div > div.nav-previous > div > div.title {
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 400 !important;
	font-size: 13px !important;
}

/*Images*/
#storyjs-timeline > div > div.vco-feature > div > div.slider-container-mask > div > div > div > div > div > div.media > div > div > div > a > img {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
	box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

/*Timeline background
#storyjs-timeline > div > div.vco-navigation > div.timenav-background {
	background-color: #305F6E
}
*/

/*Whole content text*/
#storyjs-timeline > div > div.vco-feature > div > div.slider-container-mask > div > div > div > div > div > div.text > div {
	padding-left: 0px !important;
}

/*Timeline text color - NOT WORKING*/
.vco-timeline .vco-navigation .timenav .content .era div h3,.vco-timeline .vco-navigation .timenav .content .era div h4 {
	color: red;
}
.vco-timeline .vco-navigation .timenav .content .era6 div {
	background:#08c;filter:alpha(opacity=10);-khtml-opacity:.1;-moz-opacity:.1;opacity:.1;
	border-left:1px solid red;border-right:1px solid rgba(0,170,255,0.05)
}
.vco-timeline .vco-navigation .timenav .content .era6 div h3,.vco-timeline .vco-navigation .timenav .content .era6 div h4 {
	color: red;
}
/*Actual Line*/
#storyjs-timeline > div > div.vco-navigation > div.timenav-background > div.timenav-line {
	background-color: #305F6E !important;
}

/*Destination Line*/
.vco-timeline .vco-navigation .timenav .content .marker.active .line {
	background-color: #305F6E !important;
}

/*Dot*/
.vco-timeline .vco-navigation .timenav .content .marker.active .dot {
	background-color: #305F6E !important;
	background: #305F6E !important;
}

/*Dot*/
.vco-timeline .vco-navigation .timenav .content .marker .dot {
	background-color: #305F6E !important;
	background: #305F6E !important;
}

/*Active Title on Timeline*/
.vco-timeline .vco-navigation .timenav .content .marker.active .flag .flag-content h3 {
	color: black !important;
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 600 !important;
	font-size: 14px !important;
	padding-top: 2px !important;
}

/*Inactive Title on Timeline*/
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h3, .vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content h3 {
	color: #305F6E !important;
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 400 !important;
	font-size: 13px !important;
	padding-top: 2px !important;
}

/*Hover Title on Timeline*/
.vco-notouch .vco-navigation .timenav .content .marker .flag:hover .flag-content h3 {
	color: black !important;
	font-family: 'Raleway', sans-serif !important;	
	font-weight: 500 !important;
	font-size: 14px !important;
	padding-top: 2px !important;
}
/**/
